<!DOCTYPE html>
{%extends 'farm/base.html' %}

{% block content %}
 {%load static%}
    <span class="timetoread-section">
                    <span class="time-icon"></span>
                    <span class="field-reading-time-label">Час читання</span>
                    <span class="field-punctuation-label"> -</span>
                    <span class="field-time-to-read">4</span>
                    <span class="field-minute-label">хв.</span>
                </span>

            <div class="intro-image">
                <picture>

                    <source media="(min-width: 1200px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/1416420_1.png?rev=a5246c129a8a4186bd3b7700d90c3e92&w=1392&webp=1&hash=4A697B502264E14B02501614F2550FEE" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/1416420_1.png?rev=a5246c129a8a4186bd3b7700d90c3e92&w=1151&webp=1&hash=C8E57D7C90A9B475FDDBD06350046BFB" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/1416420_1.png?rev=a5246c129a8a4186bd3b7700d90c3e92&w=975&webp=1&hash=B17B0EF220B1539408D9D8DB816DE545" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/1416420_1.png?rev=a5246c129a8a4186bd3b7700d90c3e92&w=719&webp=1&hash=F6EF7A15CC02BD1118CCBACB8CECE4B8" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/1416420_1.png?rev=a5246c129a8a4186bd3b7700d90c3e92&w=351&webp=1&hash=68E5978D18BB1A813483600465301211" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/1416420_1.png?h=413&amp;iar=0&amp;w=1392&amp;rev=a5246c129a8a4186bd3b7700d90c3e92&amp;hash=A23F292F0EA2DB2795F60F3DEA1DF930" alt="" width="1392" height="413" heigh="464" loading="lazy" />
                </picture>
            </div>
            <p class="intro-footnote field-description">Неповторна, унікальна, самобутня, з широкою палітрою смаків ― саме такою бачать українську кухню всі, хто з нею знайомий. Становлення українських національних страв відбувалося декілька століть, під впливом традицій та законів інших держав.</p>
        </div>
    </div>
    </div>
</div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row">

<div class="component generic-component component-position content-component" data-eventid="6E286128"><div class="component-content">

    <div class="component generic-component component-position" data-eventid=6E286128  >
        <div class="component-content">
        </div>
    </div>

     <div class='main-cont comp-box default-column'>


          <div class='teaser-cont full-width'>


<div  class="content-comp-teaser element-position">

 </div>
        <div class="container-fluid">
            <div class="row">

<div class="component generic-component component-position content-component" data-eventid="6E286128"><div class="component-content">

    <div class="component generic-component component-position" data-eventid=6E286128  >
        <div class="component-content">
        </div>
    </div>

     <div class='main-cont comp-box default-column'>


          <div class='teaser-cont full-width'>


<div  class="content-comp-teaser element-position">


          <div> <p>Саме тому сьогодні на столах присутні
страви, запозичені з угорської, турецької, польської, татарської, німецької та
навіть французьких кухонь. В основному це супи, м'ясні страви, ковбаси, рулети,
рибні та овочеві запіканки, ягідні пироги, капусняк й каші. Славиться Україна й
борошняними виробами (сочники, пундики, медяники), напоями (узвар, квас,
наливка).</p>
<p>Розмаїття смаків національних страв в
різні періоди прославляли багато поетів й письменників. Згадайте Гоголя та його
&laquo;Вечори на хуторі біля Диканьки&raquo; або Котляревського &laquo;Енеїда&raquo;. Незважаючи на
великий асортимент, в українській кухні виділяється кілька страв, які є її
основою та подаються в відомих ресторанах світу.</p>
<p>&nbsp;</p>
<h3>Борщ</h3>
<p>Згідно з давніми традиціями, український
борщ готують на м'ясному чи овочевому бульйоні з додаванням м'яса (сала),
буряка, картоплі, квасолі, капусти. Обов'язково вводять й зажарку з цибулі,
томатів, пасти, моркви. В кінці обов'язково додають кріп, петрушку, а на стіл
подають разом зі сметаною, салом та пампушками з часником. Традиційну страву
можливо перетворити в новаторську, якщо додати кілька несподіваних
інгредієнтів. У різних областях України зустрічаються поєднання з:</p>
<ul>
    <li>болгарським перцем;</li>
    <li>грибами;</li>
    <li>грушею;</li>
    <li>чорносливом.</li>
</ul>
<p>&nbsp;</p>
<p>На Слобожанщині можна зустріти борщ без
буряка, але з рибою, у Львові ―&nbsp; з
копченостями, а на Чернігівщині ― з яблуками. Все це відгомони впливу кухонь
сусідніх країн: Угорщини, Румунії, Польщі, Білорусі, Молдови. Сьогодні
український борщ входить до Національного списку нематеріальної спадщини, та
вже на шляху до світового визнання ЮНЕСКО.</p> </div>


</div>

          </div>
     </div>
</div></div>
<div class="component generic-component component-position content-component" data-eventid="193B33CB"><div class="component-content">

    <div class="component generic-component component-position" data-eventid=193B33CB  >
        <div class="component-content">
        </div>
    </div>

     <div class='main-cont comp-box'>

          <div class='teaser-cont image-left-right'>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_4.png?rev=0f639b153154496682d164da6feac7fe&w=440&webp=1&hash=54B86E5B061DD8F2A37BD5F4F90A8C58" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_4.png?rev=0f639b153154496682d164da6feac7fe&w=399&webp=1&hash=D82903B3E7E83D6EB8F5AD57CA10FC99" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_4.png?rev=0f639b153154496682d164da6feac7fe&w=440&webp=1&hash=54B86E5B061DD8F2A37BD5F4F90A8C58" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_4.png?rev=0f639b153154496682d164da6feac7fe&w=351&webp=1&hash=C8A32F0E1AD210D296E78A02DADEF7E6" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_4.png?h=440&amp;iar=0&amp;w=440&amp;rev=0f639b153154496682d164da6feac7fe&amp;hash=B22BE73F7E2B3210BEA8B58707473D26" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Вареники </h3>


               <div> В більшості випадків вареники готують з
прісного тіста на молоці, але в деяких регіонах його замінюють на кефір. Такі
вареники виходять пишнішими й ніжнішими. Для начинки вибирають один або кілька
компонентів. Популярне є поєднання з сиром, вишнею, малиною. Також їх роблять з
м'ясом, грибами, овочами та кропивою. Для заправки солодких вареників зазвичай
використовують вершкове масло, а для інших ― зажарку з цибулею й шкварками.
Додатково можна полити сметаною. </div>


     </div>
</div>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_11.png?rev=be281575024e432cbd4e8f83a8b13d28&w=440&webp=1&hash=D35FE65365CB1A75036B9A583421CD7E" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_11.png?rev=be281575024e432cbd4e8f83a8b13d28&w=399&webp=1&hash=B711C54180BD53AB39DBE3A4AABE6CB4" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_11.png?rev=be281575024e432cbd4e8f83a8b13d28&w=440&webp=1&hash=D35FE65365CB1A75036B9A583421CD7E" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_11.png?rev=be281575024e432cbd4e8f83a8b13d28&w=351&webp=1&hash=8E0FAC58FE8E826561CA3AD9D182A368" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_11.png?h=440&amp;iar=0&amp;w=440&amp;rev=be281575024e432cbd4e8f83a8b13d28&amp;hash=D612FDEFE1C1803333D71EFFD9D3CB5A" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Голубці </h3>


               <div> Справжні українські голубці готують з
капустяного листя, злегка проварених або квашених. До появи рису, основу для
начинки робили з кукурудзяної каші та пшоняної, в які додавали м'ясо, сало з
засмажкою із цибулі. Сьогодні для класичного наповнення використовують
свинячо-яловичий фарш, який змішують з рисом чи кукурудзяною крупою. Часник,
петрушку, болгарський перець, білі гриби, спеції додають за бажанням. Залежно
від регіонів, різняться й розміри голубців: гуцульські ―&nbsp; великі, з долоню, а південно-східні ―
мініатюрні, з мізинець. </div>


     </div>
</div>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_17.png?rev=5f66388ad4f54e4da22189a8abd6eef3&w=440&webp=1&hash=D93765752D38214D17C13A3D70DF6C35" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_17.png?rev=5f66388ad4f54e4da22189a8abd6eef3&w=399&webp=1&hash=5F5CAAB20A3D6A7EA84A14219E9C575F" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_17.png?rev=5f66388ad4f54e4da22189a8abd6eef3&w=440&webp=1&hash=D93765752D38214D17C13A3D70DF6C35" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_17.png?rev=5f66388ad4f54e4da22189a8abd6eef3&w=351&webp=1&hash=E6CC475C684A10B7F2E64675CB20294B" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_17.png?h=440&amp;iar=0&amp;w=440&amp;rev=5f66388ad4f54e4da22189a8abd6eef3&amp;hash=6FAA94B63D58FDE065663EB1309E2F50" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Налисники </h3>


               <div> <p>Тонкі млинці з гарною ажурною сіточкою є
символом національного свята Масляна. Готують їх на молоці з додаванням
пшеничного чи гречаного борошна, яєць та цукру. Також є варіанти тесту на
кисляку, тоді вони виходять пишними. Їх можна їсти просто зі сметаною,
варенням, медом, або загортати в них начинку. Тут вибір такий же різноманітний:</p>
<ul>
    <li>солоний та солодкий сир; </li>
    <li>обсмажені гриби з цибулею та твердим
    сиром; </li>
    <li>шпинат з вершковим сиром; </li>
    <li>червона риба з рікоттою, маскарпоне.</li>
</ul>
<p>&nbsp;</p>
<p>Також в начинках комбінують курячу печінку
та відварені яйця, кисломолочний сир та ягоди, мак та сухофрукти. Начинені
млинці перед подачею обов'язково мліють в духовці чи глибокій сковороді.</p> </div>


     </div>
</div>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_20.png?rev=61c2787c5c9e44488e9a3ae92ab249aa&w=440&webp=1&hash=DBA27E979EA4B3793359AEDBD4BCAFA4" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_20.png?rev=61c2787c5c9e44488e9a3ae92ab249aa&w=399&webp=1&hash=F7886CD5E3832096BC65524B76CA0795" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_20.png?rev=61c2787c5c9e44488e9a3ae92ab249aa&w=440&webp=1&hash=DBA27E979EA4B3793359AEDBD4BCAFA4" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_20.png?rev=61c2787c5c9e44488e9a3ae92ab249aa&w=351&webp=1&hash=429D5C1B623157585B1138B1DEA0008A" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_20.png?h=440&amp;iar=0&amp;w=440&amp;rev=61c2787c5c9e44488e9a3ae92ab249aa&amp;hash=854CEA599E3FF2A99E951DB9BE09212B" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Котлета по-київськи </h3>


               <div> Золотиста хрустка скоринка, ніжне куряче
м'ясо й соковита начинка всередині ― в котлету по-київськи закохуються з
першого разу. По суті це куряча відбивна, скручена в рулет разом із зеленню й
вершковим маслом, обсмажена у фритюрі. Подають її по-особливому, з курячої
кісточкою, на яку покладається виключно декоративна функція. Гарнір може бути
будь-який: відварна картопля, овочеве пюре або рис. </div>


     </div>
</div>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_5.png?rev=0cdd8ecc91394e9389ab51914c30a3b5&w=440&webp=1&hash=E79682D145FAFEC2A51BD5FA6DCF82D8" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_5.png?rev=0cdd8ecc91394e9389ab51914c30a3b5&w=399&webp=1&hash=DB219D355686A87718BE60CA3B75FEDF" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_5.png?rev=0cdd8ecc91394e9389ab51914c30a3b5&w=440&webp=1&hash=E79682D145FAFEC2A51BD5FA6DCF82D8" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_5.png?rev=0cdd8ecc91394e9389ab51914c30a3b5&w=351&webp=1&hash=BB1DAC8A8865A875966021B0B7BF7F38" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_5.png?h=440&amp;iar=0&amp;w=440&amp;rev=0cdd8ecc91394e9389ab51914c30a3b5&amp;hash=A736FA100661ADDA262D43BE6D876C8C" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Бануш (банош) </h3>


               <div> Описуючи українські національні страви, неможливо не додати до списку й гуцульське блюдо ― банош.
Основа цієї страви ― кукурудзяна крупа, яку варять на молоці, сливках протягом
кількох годин в печі. Яскравості смаку додають піджарені шкварки, бекон та
солений сир, бринза. Також за бажанням додають й грибний соус. Сполучення
інгредієнтів незвичайне, але смачне. Відповідно до старовинних традицій бануш
повинні готувати тільки чоловіки й на багатті, як це робили колись вівчарі. </div>


     </div>
</div>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_1.png?rev=1d4222d4736b49f6a61fc1e347f9ae1f&w=440&webp=1&hash=A754DF46BC108653213C77E60D1DB39B" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_1.png?rev=1d4222d4736b49f6a61fc1e347f9ae1f&w=399&webp=1&hash=CD3A69AD39739E8226B04FAD10FEF587" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_1.png?rev=1d4222d4736b49f6a61fc1e347f9ae1f&w=440&webp=1&hash=A754DF46BC108653213C77E60D1DB39B" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_1.png?rev=1d4222d4736b49f6a61fc1e347f9ae1f&w=351&webp=1&hash=B541FC81E12241C5F1BCFB79275A57D0" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_1.png?h=440&amp;iar=0&amp;w=440&amp;rev=1d4222d4736b49f6a61fc1e347f9ae1f&amp;hash=1EC108D0FF59E149F0D75A2E24B5E627" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Деруни </h3>


               <div> Або картопляні оладки ― часте блюдо на
українських столах. Готують їх з тертої картоплі, з додаванням яєць, борошна та
спецій. Крім класичного рецепту, існують ще й варіації з кабачками, морквою,
сиром, куркою. На стіл до них подають сметану з зеленню. Святковий варіант
страви ― деруни протушковані в горщиках разом з картоплею, грибами та соусом зі
сметани. </div>


     </div>
</div>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_10.png?rev=3b384a9c9173482daf3b1022cded74f0&w=440&webp=1&hash=222D474BC99F3E542A37268131EE980D" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_10.png?rev=3b384a9c9173482daf3b1022cded74f0&w=399&webp=1&hash=FC0A4B061D2E0F04CC29C55DE81BE4DA" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_10.png?rev=3b384a9c9173482daf3b1022cded74f0&w=440&webp=1&hash=222D474BC99F3E542A37268131EE980D" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_10.png?rev=3b384a9c9173482daf3b1022cded74f0&w=351&webp=1&hash=0F299EDF04D9029CD5DD84B41E4E2B77" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_10.png?h=440&amp;iar=0&amp;w=440&amp;rev=3b384a9c9173482daf3b1022cded74f0&amp;hash=B75F992E5CFA9301E99BEB6523029CB2" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Крученики </h3>


               <div> М'ясні рулети зі свинячої чи яловичої
вирізки. М'ясо нарізають тонкими шматочками. відбивають та загортають в нього
начинку з грибів, варених яєць із зеленню, рису. Далі їх обсмажують й тушкують
до готовності на невеликому вогні. Для тих, хто «за» нестандартні смаки, варто
спробувати волинські крученики з квашеної капусти та з куркою та чорносливом. </div>


     </div>
</div>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_14.png?rev=33ec645e540c458caad68a6a133ac7f1&w=440&webp=1&hash=299295CA87725D126195F2736ED245AF" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_14.png?rev=33ec645e540c458caad68a6a133ac7f1&w=399&webp=1&hash=D166F71BF41FBC0896649B2F2004A774" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_14.png?rev=33ec645e540c458caad68a6a133ac7f1&w=440&webp=1&hash=299295CA87725D126195F2736ED245AF" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_14.png?rev=33ec645e540c458caad68a6a133ac7f1&w=351&webp=1&hash=17F94F8329B7BEFF1F04164BF2A32C2A" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_14.png?h=440&amp;iar=0&amp;w=440&amp;rev=33ec645e540c458caad68a6a133ac7f1&amp;hash=7E90B3F0219E15BD1D0CEB90163C0C86" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Холодець </h3>


               <div> Або студень ― холодна закуска з курячого
чи свинячого м'яса. На першому етапі його довго варять на повільному вогні в
бульйоні зі спеціями, цибулею, морквою та зеленню. На другому ― розливають в
порційні тарілки та відправляють в холодильник до повного застигання. Найкраще
смакує з хріном та гірчицею. </div>


     </div>
</div>

<div  class="content-comp-teaser element-position">

          <span class='image-wrapper'>

                    <picture>
                    <source media="(min-width: 1024px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_15.png?rev=9f2e5286d15c43e094f8af3d34050382&w=440&webp=1&hash=5308961D87CB5A7DF720CD34906DA6EA" type="image/webp">
                    <source media="(min-width: 768px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_15.png?rev=9f2e5286d15c43e094f8af3d34050382&w=399&webp=1&hash=1942346DE08AAB95B493183545E3E406" type="image/webp">
                    <source media="(min-width: 400px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_15.png?rev=9f2e5286d15c43e094f8af3d34050382&w=440&webp=1&hash=5308961D87CB5A7DF720CD34906DA6EA" type="image/webp">
                    <source media="(max-width: 399px)" srcset="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_15.png?rev=9f2e5286d15c43e094f8af3d34050382&w=351&webp=1&hash=5060524CE9B788C38D3D93639431A43A" type="image/webp">
                    <img src="https://cdn.metro-online.com/-/media/Project/MCW/UA_Metro/Blog/2021/08_2021/Ukrayinska-kukhnya-10-smachnykh-natsionalnykh-strav/459x459_15.png?h=440&amp;iar=0&amp;w=440&amp;rev=9f2e5286d15c43e094f8af3d34050382&amp;hash=7F0A28BC3AD608B9F0AD78BEF7F6F50B" alt="" width="440" height="440" loading="lazy" />
                    </picture>

          </span>

     <div class='details-wrapper'>

               <h3 class='h3'> Шпундра </h3>


               <div> <p>Славиться Україна ще одним старовинним
блюдом ― шпундра. Готують її з смаженого підчеревина або грудинки, які потім
тушкують з цибулею, морквою в буряковому соку або квасі. Після 2-х годин в печі
шпундру подають гарячою на стіл як самостійне блюдо чи з гарніром.</p>
<p>Збережіть всі ці українські національні страви рецепти та зробіть їх з натхненням
своїм родичам. Багато з них дійсно будуть здивовані такому розмаїттю!</p> </div>


     </div>
</div>
          </div>
     </div>
</div></div>
            </div>
        </div>


      <!-- choose  section -->
   <div class="choose ">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="titlepage">
                     <h2>Чому ми? </h2>
                     <p>«Ми використовуємо тільки власну сировину, виробництво якої контролюємо на всіх етапах. Сконцентрувалися на важливих для споживача якостях: смак, емоційність. Так і з'явився новий бренд. </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                  <div class="padding_with">
                     <div class="row">
                        <div class="col-md-6 padding_bottom">
                           <div class="choose_box">
                              <i><img src="{% static 'farm/images/icon1.png'%}" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Родюча земля</h3>
                                 <p>Ферма знаходиться між озером і лісом  </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 padding_bottom">
                           <div class="choose_box">
                              <i><img src="{% static 'farm/images/icon2.png'%}" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Екологічність</h3>
                                 <p>До найближчого міста 35 км.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 padding_bottom2">
                           <div class="choose_box">
                              <i><img src="{% static 'farm/images/icon3.png'%}" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Якість</h3>
                                 <p>Використвуємо тільки власну сировину</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="choose_box">
                              <i><img src="{% static 'farm/images/icon4.png'%}" alt="#"/></i>
                              <div class="choose_text">
                                 <h3>Фахівці</h3>
                                 <p>Люди працюють на фермі родинами і люблять свій край</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                  <div class="choose_img">
                     <figure><img src="{% static 'farm/images/food.jpg'%}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <a class="read_more" href="{% url 'products' %}">Продукти</a>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end choose  section -->
{%endblock%}
